* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(black, rgb(2, 4, 30), black);
    display: block;
    width: 100%;
    height: 100vh;
    user-select: none;
}

/* ------ */
/* navBar */
/* ------ */

#nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 4px 0px white;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    transition: border 0.5s ease;
    transition: width 0.5s ease;
    z-index: 5;
}

#nav div {
    max-width: 968px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.null_box {
    width: 196px;
    height: 60px;
}

nav:hover .null_box span {
    background: rgba(255, 255, 255, 0.3);
}

.null_box span {
    background: rgba(255, 255, 255, 0);
    width: 12px;
    height: 60px;
    float: right;
    margin-right: 3%;
    border-radius: 5px;
    cursor: move;
}

.null_box span:active {
    background: rgba(255, 255, 255, 0.8);
}

.float_r {
    float: right;
}

.float_l {
    margin-left: 30px;
    float: left;
}

.null_box2 {
    width: 69px;
    height: 17px;
    position: absolute;
    bottom: 0;
    text-align: center;
}

nav:hover .null_box2 span {
    background: rgba(255, 255, 255, 0.3);
}

.null_box2 span {
    display: inline-block;
    width: 80%;
    height: 13px;
    background: rgba(255, 255, 255, 0);
    border-radius: 5px;
    cursor: move;
    transition: width 0.5s ease;
    transition: margin 0.5s ease;
}

.null_box2 span:active {
    background: rgba(255, 255, 255, 0.8);
}

.logo img {
    width: 50px;
}

#nav div ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
    flex-direction: row;
    column-gap: 3rem;
}

#nav div ul li {
    display: inline-block;
    font-size: 16px;
    color: white;
    list-style: none;
    padding: 3vh 0;
}

#nav div ul li span {
    font-family: 'Poppins Bold', 'sans-serif';
    color: white;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2rem;
}

#nav span {
    display: flex;
    font-weight: bolder;
}

.chevron_circle {
    display: inline-block;
    margin-top: 5px;
    text-indent: -9999px;
    width: 30px;
    height: 30px;
    background: url(../icon-fontawesome/chevron-circle-left-solid.svg);
    background-size: 30px 30px;
    filter: invert(100%);
    margin-left: 4px;
    cursor: pointer;
}

#chevron {
    position: absolute;
    top: 50%;
    left: 62px;
    background: rgb(2, 4, 30);
    border-radius: 100px;
    width: 39px;
    height: 41px;
    transition: all 0.5s ease;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/* ------- */
/* navBar2 */
/* ------- */

#nav2 {
    height: 70vh;
    display: block;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 4px 0px white;
    background: rgba(0, 0, 0, 0.4);
    width: 80px;
    transition: border 0.5s ease;
    transition: width 0.5s ease;
    position: fixed;
    top: 15%;
    color: white;
    border-radius: 15px;
    display: none;
}

#nav2 div ul {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

#nav2 div ul li {
    width: 100%;
    float: right;
    font-family: 'Poppins Bold', 'sans-serif';
    color: white;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 0;
}

.bar2 {
    width: 32px;
    text-align: right;
    float: right;
    margin-right: 15px;
    transition: margin 0.5s ease;
}

.bar1 {
    float: right;
    width: 115px;
    text-align: right;
    margin-right: 20px;
    transition: width 0.5s ease;
    text-decoration: none;
    display: none;
}

#nav2 div ul li img {
    width: 30px;
}

#nav2 div ul li u {
    white-space: nowrap;
}

#chevron2 {
    position: absolute;
    top: 50%;
    right: 62px;
    background: rgb(2, 4, 30);
    border-radius: 100px;
    width: 39px;
    height: 41px;
    transition: all 0.5s ease;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* ------ */
/* shadow */
/* ------ */

#nav3 div {
    position: absolute;
    display: inline-block;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.4);
    transition: border 0.5s ease;
    transition: width 0.5s ease;
    justify-content: space-between;
    align-items: center;
    z-index: -1;
    display: none;
}

#nav3 div:nth-child(1), #nav3 div:nth-child(3) {
    height: 70vh;
    width: 70px;
    top: 50%;
    transform: translate(0, -50%);
}

#nav3 div:nth-child(1) {
    left: 70px;
}

#nav3 div:nth-child(3) {
    right: 70px;
}


#nav3 div:nth-child(2), #nav3 div:nth-child(4) {
    height: 77.5vh;
    width: 70px;
    top: 50%;
    transform: translate(0, -50%);
}

#nav3 div:nth-child(2) {
    left: 0px;
}

#nav3 div:nth-child(4) {
    right: 0px;
}

#nav3 div:nth-child(5), #nav3 div:nth-child(6) {
    left: 50%;
    right: 50%;
    width: 70%;
    height: 70px;
    transform: translate(-50%, 0%);
}

#nav3 div:nth-child(5) {
    top: 70px;
}

#nav3 div:nth-child(6) {
    bottom: 70px;
}

#nav3 div:nth-child(7), #nav3 div:nth-child(8) {
    left: 50%;
    right: 50%;
    width: 99.7%;
    height: 70px;
    transform: translate(-50%, 0%);
}

#nav3 div:nth-child(7) {
    top: 0px;
}

#nav3 div:nth-child(8) {
    bottom: 0px;
}


.logo {
    font-family: 'Poppins Bold', 'sans-serif';
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    width: 150px;
    -webkit-text-stroke: 1px black;
    color: white;
    cursor: default;
}

.home_solid {
    display: inline-block;
    margin-top: 5px;
    text-indent: -9999px;
    width: 30px;
    height: 30px;
    background: url(../icon-fontawesome/home-solid.svg);
    background-size: 30px 30px;
    filter: invert(100%);
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px dashed white;
    background: rgba(0, 0, 0, 0.4);
    transition: border 0.5s ease;
    transition: width 0.5s ease;
    color: white;
    border-radius: 15px;
    position: fixed;
    cursor: default;
    height: 88vh;
    z-index: -1;
    text-align: center;
}

@font-face {
    font-family: 'Poppins Bold';
    src: url(../font/Poppins-SemiBold.ttf);
}

.logoFront {
    display: inline-block;
    width: 300px;
    height: 300px;
    position: relative;
    text-align: center;
    font-size: 30px;
    font-family: 'Poppins Bold';
}

.logoFront span:nth-child(2) {
    top: 50px;
    left: 0;
    position: absolute;
    display: inline-block;
    width: 300px;
    height: 300px;
    background: #DD391C;
    clip-path: polygon(6% 0%, 14% 90%, 50% 100%, 86% 90%, 94% 0%);
}


.logoFront span:nth-child(3) {
    top: 50px;
    left: 0;
    position: absolute;
    display: inline-block;
    width: 300px;
    height: 300px;
    background: #EB5022;
    clip-path: polygon(50% 7%, 50% 92%, 79% 84%, 86% 7%);
}

.html5 span:nth-child(4) {
    top: 50px;
    left: 0;
    position: absolute;
    display: inline-block;
    width: 300px;
    height: 300px;
    background: white;
    clip-path: polygon(78% 18%, 77% 30%, 77% 30%, 77% 30%, 77% 30%, 77% 30%, 77% 30%, 77% 30%,
            77% 30%,
            78% 18%,
            78% 18%, 78% 18%, 78% 18%, 78% 18%, 78% 18%, 78% 18%);
    transition: clip-path 1s;
    animation: html5Anim 3s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}


@keyframes html5Anim {
    0% {
        clip-path: polygon(78% 18%, 77% 30%, 77% 30%, 77% 30%, 77% 30%, 77% 30%, 77% 30%, 77% 30%,
                77% 30%,
                78% 18%,
                78% 18%, 78% 18%, 78% 18%, 78% 18%, 78% 18%, 78% 18%);
    }

    16.6% {
        clip-path: polygon(78% 18%, 77% 30%, 35% 30%, 35% 30%, 35% 30%, 35% 30%, 35% 30%, 35% 30%,
                35% 30%,
                22% 18%,
                22% 18%, 22% 18%, 22% 18%, 22% 18%, 22% 18%, 22% 18%);
    }

    33.2% {
        clip-path: polygon(78% 18%, 77% 30%, 35% 30%, 36% 41%, 36% 41%, 36% 41%, 36% 41%, 36% 41%,
                36% 41%,
                25% 52%,
                25% 52%, 25% 52%, 25% 52%, 25% 52%, 25% 52%, 22% 18%);
    }

    49.8% {
        clip-path: polygon(78% 18%, 77% 30%, 35% 30%, 36% 41%, 76% 41%, 76% 41%, 76% 41%, 76% 41%,
                76% 41%,
                63% 52%,
                63% 52%, 63% 52%, 63% 52%, 63% 52%, 25% 52%, 22% 18%);
    }

    66.4% {
        clip-path: polygon(78% 18%, 77% 30%, 35% 30%, 36% 41%, 76% 41%, 73% 76%, 73% 76%, 73% 76%,
                73% 76%,
                62% 66%,
                62% 66%, 62% 66%, 62% 66%, 63% 52%, 25% 52%, 22% 18%);
    }

    83% {
        clip-path: polygon(78% 18%, 77% 30%, 35% 30%, 36% 41%, 76% 41%, 73% 76%, 50% 82%, 50% 82%,
                50% 82%,
                50% 69%,
                50% 69%, 50% 69%, 62% 66%, 63% 52%, 25% 52%, 22% 18%);
    }

    90% {
        clip-path: polygon(78% 18%, 77% 30%, 35% 30%, 36% 41%, 76% 41%, 73% 76%, 50% 82%, 27% 75%,
                27% 75%,
                38% 66%,
                38% 66%, 50% 69%, 62% 66%, 63% 52%, 25% 52%, 22% 18%);
    }

    100% {
        clip-path: polygon(78% 18%, 77% 30%, 35% 30%, 36% 41%, 76% 41%, 73% 76%, 50% 82%, 27% 75%, 25% 57%, 37% 57%, 38% 66%, 50% 69%, 62% 66%, 63% 52%, 25% 52%, 22% 18%);
    }

}

.css div div {
    display: inline-block;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.css span:nth-child(2) {
    background: #105EAA;
}

.css span:nth-child(3) {
    background: #2B99D5;
}

.css span:nth-child(4) {
    top: 50px;
    left: 0;
    position: absolute;
    display: inline-block;
    width: 300px;
    height: 300px;
    background: white;
    /*clip-path: polygon(21% 19%, 22% 30%, 50% 30%, 22% 41%,24% 52%,63% 52%,62% 66%,50% 69%,37% 66%,36% 58%,25% 58%,26% 75%,50% 82%,72% 75%,75% 41%,50% 41%,78% 30%,78% 19%);*/
    clip-path: polygon(21% 19%, 22% 30%, 50% 30%, 22% 41%, 24% 52%, 63% 52%, 62% 66%, 50% 69%, 37% 66%, 36% 58%, 25% 58%, 26% 75%, 50% 82%, 72% 75%, 75% 41%, 50% 41%, 78% 30%, 78% 19%);
    transition: clip-path 1s;
    animation: cssAnim 3s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes cssAnim {
    0% {
        clip-path: polygon(21% 19%, 22% 30%, 22% 30%, 22% 30%, 22% 30%, 22% 30%, 22% 30%, 22% 30%, 22% 30%,
                22% 30%,
                21% 19%,
                21% 19%, 21% 19%, 21% 19%, 21% 19%, 21% 19%, 21% 19%, 78% 19%);
    }

    14.28% {
        clip-path: polygon(21% 19%, 22% 30%, 50% 30%, 50% 30%, 50% 30%, 50% 30%, 50% 30%, 50% 30%, 50% 30%,
                50% 30%,
                78% 30%,
                78% 30%, 78% 30%, 78% 30%, 78% 30%, 78% 30%, 78% 30%, 78% 19%);
    }

    28.56% {
        clip-path: polygon(21% 19%, 22% 30%, 50% 30%, 22% 41%, 22% 41%, 22% 41%, 22% 41%, 22% 41%, 22% 41%,
                22% 41%,
                50% 41%,
                50% 41%, 50% 41%, 50% 41%, 50% 41%, 50% 41%, 78% 30%, 78% 19%);
    }

    42.84% {
        clip-path: polygon(21% 19%, 22% 30%, 50% 30%, 22% 41%, 24% 52%, 63% 52%, 63% 52%, 63% 52%, 63% 52%,
                63% 52%,
                75% 41%,
                75% 41%, 75% 41%, 75% 41%, 75% 41%, 50% 41%, 78% 30%, 78% 19%);
    }

    57.12% {
        clip-path: polygon(21% 19%, 22% 30%, 50% 30%, 22% 41%, 24% 52%, 63% 52%, 62% 66%, 62% 66%, 62% 66%,
                62% 66%,
                72% 75%,
                72% 75%, 72% 75%, 72% 75%, 75% 41%, 50% 41%, 78% 30%, 78% 19%);
    }

    71.4% {
        clip-path: polygon(21% 19%, 22% 30%, 50% 30%, 22% 41%, 24% 52%, 63% 52%, 62% 66%, 50% 69%, 50% 69%,
                50% 69%,
                50% 82%,
                50% 82%, 50% 82%, 72% 75%, 75% 41%, 50% 41%, 78% 30%, 78% 19%);
    }

    85.68% {
        clip-path: polygon(21% 19%, 22% 30%, 50% 30%, 22% 41%, 24% 52%, 63% 52%, 62% 66%, 50% 69%, 37% 66%,
                37% 66%,
                26% 75%,
                26% 75%, 50% 82%, 72% 75%, 75% 41%, 50% 41%, 78% 30%, 78% 19%);
    }

    100% {
        clip-path: polygon(21% 19%, 22% 30%, 50% 30%, 22% 41%, 24% 52%, 63% 52%, 62% 66%, 50% 69%, 37% 66%, 36% 58%, 25% 58%, 26% 75%, 50% 82%, 72% 75%, 75% 41%, 50% 41%, 78% 30%, 78% 19%);
    }

}

.javaScript div div {
    display: inline-block;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.javaScript span:nth-child(2) {
    background: #DE921E;
}

.javaScript span:nth-child(3) {
    background: #EDB31C;
}

.javaScript span:nth-child(4) {
    top: 50px;
    left: 0;
    position: absolute;
    display: inline-block;
    width: 300px;
    height: 300px;
    background: white;
    clip-path: polygon(75% 12%, 30% 12%, 25% 52%, 63% 52%, 62% 66%, 50% 69%, 38% 66%, 37% 58%,
            26% 58%,
            27% 75%,
            50% 82%, 74% 75%, 77% 40%, 39% 40%, 40% 24%, 64% 24%, 65% 36%, 76% 36%);
    transition: clip-path 1s;
    animation: javaScriptAnim 3s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes javaScriptAnim {
    0% {
        clip-path: polygon(75% 12%, 75% 12%, 75% 12%, 75% 12%, 75% 12%, 75% 12%, 75% 12%, 75% 12%,
                75% 12%,
                76% 36%,
                76% 36%, 76% 36%, 76% 36%, 76% 36%, 76% 36%, 76% 36%, 76% 36%, 76% 36%);
    }

    14.28% {
        clip-path: polygon(75% 12%, 75% 12%, 75% 12%, 75% 12%, 75% 12%, 75% 12%, 75% 12%, 75% 12%,
                75% 12%,
                64% 24%,
                64% 24%, 64% 24%, 64% 24%, 64% 24%, 64% 24%, 64% 24%, 65% 36%, 76% 36%);
    }

    28.56% {
        clip-path: polygon(75% 12%, 30% 12%, 30% 12%, 30% 12%, 30% 12%, 30% 12%, 30% 12%, 30% 12%,
                30% 12%,
                40% 24%,
                40% 24%, 40% 24%, 40% 24%, 40% 24%, 40% 24%, 64% 24%, 65% 36%, 76% 36%);
    }

    42.84% {
        clip-path: polygon(75% 12%, 30% 12%, 25% 52%, 25% 52%, 25% 52%, 25% 52%, 25% 52%, 25% 52%,
                25% 52%,

                39% 40%,
                39% 40%, 39% 40%, 39% 40%, 39% 40%, 40% 24%, 64% 24%, 65% 36%, 76% 36%);
    }

    57.12% {
        clip-path: polygon(75% 12%, 30% 12%, 25% 52%, 63% 52%, 63% 52%, 63% 52%, 63% 52%, 63% 52%,
                63% 52%,
                77% 40%,
                77% 40%, 77% 40%, 77% 40%, 39% 40%, 40% 24%, 64% 24%, 65% 36%, 76% 36%);
    }

    71.4% {
        clip-path: polygon(75% 12%, 30% 12%, 25% 52%, 63% 52%, 62% 66%, 50% 69%, 50% 69%, 50% 69%,
                50% 69%,
                74% 75%,
                74% 75%, 74% 75%, 77% 40%, 39% 40%, 40% 24%, 64% 24%, 65% 36%, 76% 36%);
    }

    85.68% {
        clip-path: polygon(75% 12%, 30% 12%, 25% 52%, 63% 52%, 62% 66%, 50% 69%, 38% 66%, 38% 66%,
                38% 66%,
                50% 82%,
                50% 82%, 74% 75%, 77% 40%, 39% 40%, 40% 24%, 64% 24%, 65% 36%, 76% 36%);
    }

    90.68% {
        clip-path: polygon(75% 12%, 30% 12%, 25% 52%, 63% 52%, 62% 66%, 50% 69%, 38% 66%, 37% 58%,
                27% 75%,
                27% 75%,
                50% 82%, 74% 75%, 77% 40%, 39% 40%, 40% 24%, 64% 24%, 65% 36%, 76% 36%)
    }

    100% {
        clip-path: polygon(75% 12%, 30% 12%, 25% 52%, 63% 52%, 62% 66%, 50% 69%, 38% 66%, 37% 58%,
                26% 58%,
                27% 75%,
                50% 82%, 74% 75%, 77% 40%, 39% 40%, 40% 24%, 64% 24%, 65% 36%, 76% 36%);
    }

}

.javaScript div img {
    width: 270px;
    height: 304px;
    margin-left: 5%;
}